<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../css/main.css" />
    <title>About Me</title>
  </head>

  <body>
    <!-- The header section for the page -->
    <header>
      <!-- The three menu bars -->
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <!-- Transition menu links -->
      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
          <li class="nav-item">
            <a href="../index.html" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item current">
            <a href="./about.html" class="nav-link">
              About Me
            </a>
          </li>
          <li class="nav-item">
            <a href="./work.html" class="nav-link">
              My Work
            </a>
          </li>
          <li class="nav-item">
            <a href="./contact.html" class="nav-link">
              Contact Me
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- The about me page -->
    <main id="about">
      <h1 class="lg-heading">
        About
        <span class="text-secondary">Me</span>
      </h1>
      <h2 class="sm-heading">
        Let me tell you few things about me ...
      </h2>
      <div class="about-info">
        <img
          src="../img/pic/IMG-20200210-WA0002.jpg"
          alt="Oketayot Julius Peter"
          class="bio-image"
        />

        <div class="bio">
          <h3 class="text-secondary">BIO</h3>
          <p>
            My biggest passion as a software developer is taking responsibility
            to drive a business forward both at the level of implementations and
            business operations; improving code re-usability and performance
            with long-term cost effective architecture choices, also helping
            other developers to grow their skills so that they can make the best
            products they can.
          </p>
          <p>
            Though I graduated with a BSC Degree in Chemical Engineer and got a
            job in a paint manufacturing company, I had quit my job and follow
            my passion as a software developer. I love being challenged and
            that's excites me a lot
          </p>
        </div>

        <!-- The current jobs I am offering -->
        <div class="job job-1">
          <h3>Back-end Development skills</h3>
          <p>
            .NET with C#, NodeJS, Python, PHP, MySQL, MSSQL, PostgreSQL, etc.
          </p>
        </div>

        <div class="job job-2">
          <h3>Front-end Development Skills</h3>
          <p></p>
            ReactJS, Angular, VueJS, HTML, Bootstrap 4,
            CSS, SASS, JavaScript, Web pack, Ajax, Jquery etc.
          </p>
        </div>

        <div class="job job-3">
          <h3>DevOps Skills</h3>
          <p>
            Kubernetes, Jenkins, Git, Docker, Azure, Digital Ocean, AWS
          </p>
        </div>
      </div>
    </main>

    <!-- the footer of the page -->
    <footer id="main-footer">
      JulioMedia.com | Copyright &copy; 2020
    </footer>
    <!-- Link to the JavaScript file -->
    <script src="../js/main.js"></script>
  </body>
</html>
